# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.py-e
*$py.class
.j2cache/
*.log
*.pickle
.mypy_cache/
.coverage
coverage.xml
*.so

# top level installers
/*.tar.gz
## Ansible galaxy-importer
/importer_result.json
## ansible-builder
/_build

# ansible-lint ignores
ansible_collections/arista/community/.ansible

# Development
## pyenv
.python-version
## .vscode/*
.vscode/

# OSX
*.DS_Store
