anta>=1.4.0
cvprac>=1.4.0
netaddr>=0.7.19
treelib>=1.5.5
# jsonschema is required for the arista.cvp Ansible collection
jsonschema>=3.2.0
# distlib is required to install the collection from source as it is using manifest
distlib>=0.3.9
